<div class="flex-container">
<div class="flex-item">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <a class="mdl-card__title-text white" >Korean numbers converter</a>
  </div>
 
  <div class="mdl-card__actions mdl-card--border">
    <input autofocus class="mdl-textfield__input", placeholder="type in Korean (일십삼) or plain numbers (105)" data-reflex="input->ConverterReflex#input" value= <%= @input %>>  </input>

    Result: <%= @out %>
  </div>
   <div class="mdl-card__supporting-text">
     <%=  text_area_tag :message, @message, size: "80x30", disabled: true  %> 
  </div>
</div>

</div>
</div>


<div>
</div>

<%
=begin%>
 <% if @out.nil? %>
<%= form_for :converter, url: { action: :new }, method: :get do |f|   %>
  <%= label_tag(:q, "Convert to number:") %>
  <%= text_field_tag(:hangul, "사십삼") %>
  </br>
  <%= label_tag(:q, "Convert to hangul:") %>
  <%= text_field_tag(:number, 505) %>
  </br>
  <%= f.submit 'convert' %>
<% end %>
<% end %> 
 <%=  text_area_tag :message, @message, size: "80x30", disabled: true  %> 
<%
=end%>
